@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
/* 
body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
} */

.container {
	max-width: 700px;
	width: 100%;
	background: #fff;
	padding: 100px 200px;
	border-radius: 5px;
}

.container .title {
	font-size: 25px;
	font-weight: 500;
	position: relative;
}

.container .title::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 100px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container form .user-details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;
}

form .user-details .input-box {
	margin-bottom: 15px;
	width: calc(100% / 2 - 20px);
}

form .user-details .details {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}

.user-details .input-box input {
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 15px;
	font-size: 16px;
	border-bottom-width: 2px;
	transition: all 0.3s ease-in;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
	border-color: #9b59b6;
}

form .gender-details .gender-title {
	font-size: 20px;
	font-weight: 500;
}

form .gender-details .category {
	display: flex;
	width: 80%;
	margin: 14px 0;
	justify-content: space-between;
}

form .gender-details .category label {
	display: flex;
	align-items: center;
}

form .gender-details .category .dot {
	height: 18px;
	width: 18px;
	background: #d9d9d9;
	border-radius: 50%;
	margin-right: 10px;
	border: 5px solid transparent;
	transition: all 0.3s ease-in;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two {
	border-color: #d9d9d9;
	background: #9b59b6;
}

form input[type="radio"] {
	display: none;
}

form .button {
	height: 45px;
	margin: 45px 0;
}

form .button input {
	height: 100%;
	width: 100%;
	outline: none;
	color: #fff;
	border: none;
	font-size: 18px;
	font-weight: 500;
	border-radius: 5px;
	letter-spacing: 1px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
	background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}


/* For Navigation Bar */
.nav {
	line-height: 75px;
	padding: 0px 100px;
	z-index: 1;
}

nav .organization {
	letter-spacing: 1.5px;
}

nav ul li a {
	padding: 0px 32px;
}




/* ***About US Page*** */
.section {
	width: 100%;
}
.section .containerAboutPage {
	width: 80%;
	display: block;
	margin: 0 auto;
	padding: 50px 0px;
}

.containerAboutPage .title {
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

.containerAboutPage .title h1 {
	text-transform: uppercase;
	font-size: 35px;
	color: #88941e;
}

.containerAboutPage .title h1::after {
	content: "";
	height: 5px;
	width: 100px;
	background-color: #c4d156;
	border-radius: 25px;
	display: block;
	margin: auto;
}

.content {
	float: left;
	width: 55%;
}

.image-section {
	float: right;
	width: 40%;
}

.image-section img {
	width: 100%;
	height: auto;
}

.content .article h3 {
	font-size: 1.17em;
	font-weight: bolder;
	color: #000000;
	font-size: 17px;
}

.content .article p {
	margin-top: 20px;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}

.content .article .button {
	margin-top: 50px;
}

.content .article .button a {
	text-decoration: none;
	padding: 8px 25px;
	background-color: #88941e;
	border-radius: 40px;
	color: #fff;
	font-size: 18px;
	letter-spacing: 1.5px;
}

.content .article .button a:hover {
	color: #fff;
	background-color: #f28f92;
	transition: 1s ease;
}

.contactInfo {
	width: 100%;
	padding-top: 0px 15px;
	float: inline-end;
	display: inline-block;
}